.hero_container {
  grid-area: game;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: #e6e6e6;
}

.games_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.slider {
  display: flex;
  width: 100%;
  height: 174px;
  flex-direction: column;
}

.handle {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(157, 157, 157);
  background-image: -moz-linear-gradient( 90deg, rgb(208, 208, 208) 0%, rgb(242, 242, 242) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(208, 208, 208) 0%, rgb(242, 242, 242) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(208, 208, 208) 0%, rgb(242, 242, 242) 100%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
  width: 11px;
  height: 27px;
}

.special {
  background: #c7c7c7;
  border-radius: 5px;
  width: 778px;
  height: 10px;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}



input[type=range] {
  background: transparent;
  -moz-appearance: none;  
  -webkit-appearance: none;
  width: 740px;
  height:15px;
  margin: 40px auto;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  z-index:0;
 
}


input[type=number] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 75px;
  text-align: left;
  background: #cdcdcd;
  outline: none;
  border: none;
  padding-top: 14px;
  padding-right: 10px;
  font-size: 25px;
  font-family: "Open Sans";
  color: rgb(105, 140, 0);
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.input {
  font-size: 25px;
  font-family: "Open Sans";
  color: rgb(105, 140, 0);
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  span {
    padding-left: 10px;
  }
}

input:focus {
  outline: none;
  border: none;
}

.button_wrapper {
  background: #cdcdcd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 224px;
  height: 60px;
  border-radius: 5px;
  margin: -25px 1%;
}


.button_wrapper:after {
    
    content:  url(../../Assets/Images/ico_info.svg), ;
    position: absolute;
    margin-top: 65px;
        font-size: 10px;
        font-family: "Open Sans";
        color: rgb(128, 128, 128);
        line-height: 1.2;
        text-align: left;
        position: absolute;
    
      
  }

  .button_wrapper:before {
    
    content:  'Click the price to type it in manually' ;
    position: absolute;
    margin-left: 15px;
    margin-top: 65px;
        font-size: 10px;
        font-family: "Open Sans";
        color: rgb(128, 128, 128);
        line-height: 1.2;
        text-align: left;
        position: absolute;
    
      
  }
  

button {
  font-size: 13px;
  font-family: "Open Sans";
  color: rgba(3, 16, 26, 0.902);
  line-height: 0.615;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: linear-gradient(3600deg, rgb(108,150,0) 4%, rgb(166,197,0) 100%);
  align-self: center;
  outline: none;
  border: 1px solid #8f8f8f;
  padding: 1px 6px;
  width: 110px;
  height: 36px;
}

input[type=number] {
    -moz-appearance: textfield;
    }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}   

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #8f8f8f;
    height: 30px;
    width: 16px;
    border-radius: 5px;
    background: #e6e6e6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
    z-index: 0;
    }

    input[type=range]::-webkit-slider-thumb:hover {
        border: 1px solid #8f8f8f;
        height: 30px;
        width: 16px;
        border-radius: 5px;
        background:  #8f8f8f;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: 0px;
        z-index: 5;
        display: block;
        }

    .min_value {
    
        color: #4d4d4d;
        font-family: Open Sans;
        font-size: 14px;
        line-height: 1.2;
        text-align: right;
        display: inline-block;
        position: absolute;
        margin-top: 39px;
        margin-left:55px;
    
     
      
}

.avg_value {
    
    
        font-size: 10px;
        font-family: "Open Sans";
        color: rgb(128, 128, 128);
        line-height: 1;
        text-align: center;
        position: absolute;
        z-index: 0;
     
      
    margin: 20px 180px;

 
  
}

.avg_value::before, .top_value:before {
    content: '';
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(58,58,58) 0%, rgb(30,30,30) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(58,58,58) 0%, rgb(30,30,30) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(58,58,58) 0%, rgb(30,30,30) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 7px;
    height: 7px;
    margin-top: 24px;
    margin-left: 27px;
    background: rgba(119, 119, 119, 0.79);
    z-index: 0;
    
  }
  
  .avg_value::before:hover {
      display: none;
  }

.top_value {
    
   
        font-size: 10px;
        font-family: "Open Sans";
        color: rgb(128, 128, 128);
        line-height: 1;
        text-align: center;
        position: absolute;
        margin: 20px 338px;
        z-index: 0;


 
  
}

.max_value {
    

    
    color: #4d4d4d;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.2;
    text-align: right;
    display: inline-block;
    position: absolute;
    margin-top:39px;
    margin-left: 855px;

 
  

}