
figure {
    
    height: 275px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 35px 0;

    .image {
        margin: auto;
        min-height: 123px;
    }
    .caption {
            border-top: 1px solid #cdcdcd;
            border-bottom: 1px solid #cdcdcd;
            padding: 13px 16px;
            font-size: 12px;
            font-family: "Open Sans";
            color: rgb(102, 102, 102);
            line-height: 1.5;
            text-align: center;
            margin: 0 14px;
           
          
    }

    


}

figure:first-child {
    background-image: url(../../../Assets/Images/game1.png);
    background-size: cover;
    border-radius: 5px;
}

figure:nth-child(2) {
    background-image: url(../../../Assets/Images/game2.png);
    background-size: cover;
}

figure:nth-child(3) {
    background-image: url(../../../Assets/Images/game3.png);
    background-size: cover;
    border-radius: 5px;
}

.text {
    display:block;}

.validated {
        font-size: 12px;
        font-family: "Open Sans";
        color: rgb(96, 128, 0);
        line-height: 1.2;
        text-align: center;
        padding: 14px 0;
   
      
}

.validated:before {
    content: url(../../../Assets/Images/check.png);
    position: absolute;
    margin-left: -20px;

}
.notvalidated {
    
        font-size: 12px;
        font-family: "Open Sans";
        color: rgb(77, 77, 77);
        line-height: 1.2;
        text-align: center;
        padding: 14px 0;
      }

      .notvalidated:before {
        content: url(../../../Assets/Images/error.png);
        position: absolute;
        margin-left: -20px;
    
    } 