.container {
    max-width: 1120px;
    margin: auto;
    padding: 100px 0;
    display: grid;
    grid-template-columns: 100px 316px 316px 316px 100px;
    grid-template-areas: 
    "left Header Header Header right"
    "left game game game right"
    "left slider slider slider right"
    "left goodies goodies target right"
    "footer footer footer footer footer";
    
  };