.title_container {
    grid-area: Header;
    min-height: 154px;
    display: flex;
flex-direction: column;
}

.title {
        font-size: 32px;
        font-family: "Open Sans";
        color: rgb(64, 64, 64);
        line-height: 0.5;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
        min-height: 43px;
        font-weight: 300;

        span {
            font-weight: 500;
        }
      
}

.items {
    display:flex;
    margin: auto;
    
}



.item {
    height: 35px;
    display: inline-flex;
    padding: 10px;

    
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.429;
    text-align: left;
  
      img {
        width: 19px;
        height: 19px;
        margin-top:3px;
        
      }

     
        
      
    
 
      
}

.item:last-child {
    
        border-style: solid;
        border-width: 1px;
        border-color: rgb(166, 166, 166);
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3),inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.031);      
        border-radius: 5px;
        padding:7px 11px;
        margin-top: 1px;
        
      
      
}

  