/* Define some variables we might want to use elsewhere */
:root {
  --fg: #0b2296;
}

/* Implictly local.  .hello will get transformed into a hashed class in
our React code, so that we could also use .hello in conjunction with another
component without the two clashing */


.topnav {
 display: flex;
  margin: 0 auto;
}

.nav_container {
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
}