.goodies_container {
    grid-area: goodies;
    padding-top: 62px;
    justify-content: center;
    align-content: center;
}

.title {
    
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(76, 76, 76);
        line-height: 1.286;
        text-align: center;
    
      
}

.title:before {

content: '';
border-top: 1px solid #bfbfbf;
width: 110px;
position: absolute;
margin-left: -124px;
margin-top: 9px;
}


.title:after {

    content: '';
    border-top: 1px solid #bfbfbf;
    width: 110px;
    position: absolute;
    margin-left: 13px;
    margin-top: 9px;
    }

.icons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding-top:35px;
    grid-row-gap: 60px;

}