.icon {
    display: flex;
    flex-direction: column;
    margin: auto;

}


  .icon img{
    width: 23px;
    height: 26px;
    margin: auto;
    
   
  }

  .title  {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(102, 102, 102);
    line-height: 1.3;
    text-align: center;
    font-weight: 600;
   
  }
  

  
  .caption {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(102, 102, 102);
    line-height: 1.5;
    text-align: center;
    width: 160px;
    height: 69px;
   
  }
  