/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

@font-face {
  font-family: 'DS';
  font-style: normal;
  font-weight: 700;
  src: url(../static/Fonts/DS-DIGIB.TTF) format('truetype');
}




html {
  padding: 0;
  border: 0;
  font-family: 'Gentium Basic', serif;
  font-size: 16px;
  box-sizing: border-box;
  


  /* We can nest rules, thanks to cssnext */
  li {
    font-size: 2rem;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  
    
    background: url(./components/Main/Assets/Images/background.png), -moz-linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(212,212,212,1) 85%, rgba(212,212,212,1) 100%); /* ff3.6+ */
    background: url(./components/Main/Assets/Images/background.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(212,212,212,1)), color-stop(10%, rgba(212,212,212,1)), color-stop(100%, rgba(191,191,191,1))); /* safari4+,chrome */
    background: url(./components/Main/Assets/Images/background.png), -webkit-linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(212,212,212,1) 85%, rgba(212,212,212,1) 100%); /* safari5.1+,chrome10+ */
    background: url(./components/Main/Assets/Images/background.png), -o-linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(212,212,212,1) 85%, rgba(128,128,128,1) 100%); /* opera 11.10+ */
    background: url(./components/Main/Assets/Images/background.png), -ms-linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(212,212,212,1) 85%, rgba(128,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(212,212,212,1) 0%, rgba(212,212,212,1) 85%, rgba(128,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#BFBFBF',GradientType=0 ); /* ie6-9 */ 
    
    
}



.alice-carousel .animated {
  animation-fill-mode: both; }

.alice-carousel .animated-out {
  z-index: 1; }

.alice-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

.alice-carousel {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0px;
  margin: auto; }

.alice-carousel__wrapper {
  position: relative;
  width: 100%;
  min-height:240px;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
   }

.alice-carousel__stage {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  box-sizing: border-box; }
  .alice-carousel__stage-item {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    line-height: 0; }
    .alice-carousel__stage-item * {
      line-height: initial; }
    .alice-carousel__stage-item.__cloned {
      opacity: 0;
      visibility: hidden; }
  .alice-carousel__stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }



.alice-carousel__dots {
  position: absolute;
  display: inline-block;
  margin: auto;
  padding: 0;
  bottom: 20px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .alice-carousel__dots-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e0e4fb; }
    .alice-carousel__dots-item:not(:last-child) {
      margin-right: 15px; }
    .alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
      background-color: #6e7ebc; }

